.category-buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto 15px;
}

.category-toggle {
    padding: 15px 35px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: rgba(250, 128, 114, 0.6);
    font-family: 'Happy Monkey', cursive;
    letter-spacing: 0.2em;
    font-size: 17px;
    color: #ffffff;
    transition: all 0.2s;
    box-shadow: 0 2px 8px gray;
}

.category-toggle:hover {
    background-color: white;
    transform: scale(1.02);
    color: black;
}

.category-toggle:active {
    border: none;
    outline: none;
    background-color: #528478;
    box-shadow: 0 5px 10px gray;
    transform: translateY(4px);
}

.category-toggle__active {
    background: #528478;
}
