@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
    font-size: 25px;
    font-family: Happy Monkey, cursive;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
